@import url('https://fonts.googleapis.com/css2?family=Sarabun&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: 'Sarabun', sans-serif;
}
.container {
    max-width: 2280px;
    margin: 0 auto;
}
nav {
    background: url('/WebDevST/image/Logo-real.svg') no-repeat;
    background-size: 140px;
    background-position-y: center;
    align-items: center;
    justify-content: end;
    background-color: #000000;
    padding: 2rem;
    display: flex;
}

.nav-btn {
    width: 350px;
}
.nav-btn a {
    margin-right: 5px;
    color: #ffffff;
    text-decoration: none;
}

.container2 {
    max-width: 2280px;
    margin: 0 auto;
}

.background {
    height: 900px;
    background: url('/WebDevST/image/เช้า 1.svg') no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    padding: 5rem;
}

.background h1 {
    font-size: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background h2 {
    padding: 3rem;
    width: 750px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background p {
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-btn {
    display: flex;
    justify-content: center;
    margin-left: 50px;
    padding-top: 80px;
}

.header-btn a {
    font-size: 30px;
    margin-right: 50px;
    text-decoration: none;
    color: black;
    background-color: #ffffff;
    border-radius: 15px;
    height: 300px;
    width: 275px;
    text-align: center;
    display: inline-block;
    display: flex;
    justify-content: center;
}

.Back {
    background: url('/WebDevST/image/Icon-d.svg') no-repeat;
    background-size: 80px;
    background-position-x: center;
    background-position-y: 40px;
    align-items: center;
}

.content {
    background: linear-gradient(0deg,#74a0f1,#ffffff);
    width: 2280;
    height: fit-content;
    margin: 0 auto;
}

.Story {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Story h1 {
    text-align: center;
    margin-top: 40px;
    margin-left: 30px;
    margin-right: 30px;
    padding-top: 150px;
    background: url('/WebDevST/image/Icon-pa.svg') no-repeat;
    background-position-x: center;
    background-position-y: 40px;
    align-items: center;
    background-color: rgb(227, 249, 255);
    height: 250px;
    width: 350px;
}

.Story p {
    text-align: center;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 50px;
    padding-top: 40px;
    background-position-x: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
    height: 100px;
    width: 350px;
    color: #ffffff;
}
html {
    height: 100%;
}

body{
	font-family: 'Sarabun', sans-serif;
}

.footer{
	background-color: #24262b;
    padding: 15px 0;
    
}

.footer-col{
    height: max-content;
    width: 25%;
    padding: 0 15px;
}

.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}

.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}

@media(max-width: 1200px){
    .nav-btn a{
    width: 50%;
 }
}

    @media(max-width: 1200px){
        .background {
        display: flex;
        justify-content: center;
     }
    }
    @media(max-width: 1200px){
        .background h1{
        font-size: 60px;
     }
    }
    
    @media(max-width: 1200px){
        .background h2{
        font-size: 40px;
     }
    }

    @media(max-width: 500px){
        .background {
        display: flex;
        justify-content: center;
     }
    }
    @media(max-width: 500px){
        .background h1{
        font-size: 40px;
     }
    }
    
    @media(max-width: 500px){
        .background h2{
        font-size: 30px;
     }
    }

    @media(max-width: 1200px){
        .background p{
        font-size: 30px;
     }
    }

    @media(max-width: 1200px){
        .Back{
        background-size: 50px;
     }
    }

    @media(max-width: 1366px){
        .Story {
            display: grid;
            grid-template-columns: repeat(4 , 1fr);
            scale: 80%;
     }
    }

    
    @media(max-width: 1200px){
        .Story {
            display: grid;
            grid-template-columns: repeat(2 , 1fr);
            gap: 2rem;
            margin-left: 60px;
            scale: 105%;
     }
    }

    @media(max-width: 1200px){
        .footer-col{
        width: 100%;
        max-height: fit-content;
     }
    }

    @media(max-width: 700px){
        .Story {
            display: grid;
            grid-template-columns: repeat(1 , 1fr);
            gap: 2rem;
            margin-left: -5px;
     }
    }

    
@media(max-width: 574px){
    .nav-btn{
    width: 40%;
    }
    }

    @media(max-width: 767px){
        .footer-col{
        width: 50%;
        margin-bottom: 30px;
     }
    }

@media(max-width: 574px){
.footer-col{
    width: 100%;
    bottom: 0;
}
}
